#icon {
  margin-top: 15px;
  margin-left: 15px;
  width: 35px;
  height: 35px;
}

/* Style the links inside the navigation bar */
#topnav a {
  /*float: left;*/
  display: block;
  color: #ddd;
  text-align: center;
  /*padding: 25px;*/
  /*font-size: 12px;*/
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(255,255,255,0.4);
  
  font-family: sans-serif;
}

/* Change the color of links on hover */
#topnav a:hover {
  color: white;
  background-color: transparent;
}

/* Add an active class to highlight the current page */
#topnav a.active {
  /*background-color: #4CAF50;*/
  color: white;
}

.sidenav {
  background-color: #202020; 
}

#mobile-demo a {
  color: white;
}

#mobile-demo a:hover {
  color: grey;
}

#mobile-demo a#active {
  color: grey;
}

@media screen and (max-width: 1080px) {
  #icon {
 /*   width: 35px;
    height: 35px;*/
    margin-top: 10px;
    margin-left: 0px;
  }
}

/* Body */
body {
  /*background-image: url("../images/home/plane.jpg");*/
  /*background-image: url("../images/home/blurry.jpg");*/
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: black;
}



