#icon {
  /*padding-top: 0px;*/
  margin-top: 10px;
  margin-left: 10px;
  /*display: inline-block;*/
  width: 45px;
  height: 45px;
  /*border: 1px solid red;*/

}

#icon-link {

/*  float: none;
  position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/

}


/* Style the links inside the navigation bar */
#topnav a {


  /*float: left;*/
  display: block;
  color: #ddd;
  text-align: center;
  /*padding: 25px;*/
  /*font-size: 12px;*/
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(255,255,255,0.4);
  
  font-family: sans-serif;
}

/* Change the color of links on hover */
#topnav a:hover {
  /*background-color: #ddd;*/
  color: white;
}

/* Add an active class to highlight the current page */
#topnav a.active {
  /*background-color: #4CAF50;*/
  color: white;
}


/*nav div ul li:hover {
   background-color: transparent;
}*/


/*@media screen and (max-width: 1080px) {
  #icon {
    width: 35px;
    height: 35px;
  }
}
*/
/* Body */
body {
  /*background-image: url("../images/home/plane.jpg");*/
  /*background-image: url("../images/home/blurry.jpg");*/
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: black;
}


