/* $light = #f8f9fa */
/* $dark = #212529 */
/* $text-muted = #777 */
/* $secondary = #6c757d */
/* tarkov gold = rgb(154,136,102)
                = #9a8866 */

body { background: black !important; }
hr.footer { border: 1px solid white; }
#logo { opacity: 0.6; } 
#logo:hover { opacity: 0.9; } 
.list-group-quest .list-group-item {
  background-color: #000;
  /*border: 1px solid gray;*/
  color:  #fff;
}
.list-group-quest {
  display: inline-block;
}
.nav-link-local {
  font-size:  13px;
}
.form-control {
  background-color: #000;
  border: 1px solid #6c757d;
  color:  #6c757d;
}
.form-control-text{
  text-align: center;
  max-width: 50px;
  /*max-width: 40px;*/
}
.image-container {
  /*display: flex;*/
  justify-content: center;
}
.card {
  color: white;
  background-color: #000;
  /*border-color: #6c757d;*/
  border-color: #000;
}
.card-img-top {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
}
.image-container .img-fluid {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
  /*display: block;*/
  vertical-align: middle;
}
#mp-133 {
  max-width: 360px;
}